<div id="hero-banner" class="color-{{ section.settings.color_scheme.id }} {% if section.settings.page_width %}page-width p-0{% endif %}">
  {% render 'image', image: section.settings.image, class: "aspect-square md:aspect-[3/1]" %}
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Page Width",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
